* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "mifuente";
  src: url(../font/coolvetica\ rg.ttf);
}
ul {
  list-style: none;
}
body {
  background-color: #1d1d1d;
  overflow: hidden;
}
nav {
  background: #181818;
  width: 60px;
  min-height: 500px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav #nav1 li {
  line-height: 20px;
  font-size: 20px;
  padding: 10px;
  color: white;
  transition: all 0.5s ease;
  text-align: center;
}
nav #nav1 li:hover {
  color: rgb(58, 239, 252);
  cursor: pointer;
  display: hidden;
}
nav #nav1 li:hover .text {
  left: 0px;
  padding-bottom: 10px;
}

.text {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  transition: all 0.5s ease;
  text-align: center;
  position: relative;
  left: -200px;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.me {
  margin-left: 10%;
  flex: 3;
}
.image {
  flex: 2;
  margin-right: 10%;
}
#destacar {
  color: rgb(58, 174, 252);
  text-shadow: -5px -1px 0px rgb(255, 255, 255);
}
#texto {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: #888888;
}
.me p {
  color: white;
  font-family: "mifuente", sans-serif;
  font-size: 4rem;
  line-height: 80px;
  display: inline-block;
  letter-spacing: 5px;
  font-weight: bold;
}
.description {
  font-size: 1rem;
  color: white;
  font-family: "Raleway";
}
.intro {
  transition: animation 1s ease;
  transition: color 0.2s ease;
  display: inline-block;
  user-select: none !important;
  animation-name: bounceonappear;
  animation-iteration-count: 3;
  animation-duration: 1s;
}
.bounce {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
.intro:hover {
  color: rgb(58, 239, 252);
}
#text {
  display: inline-block;
}
#contacto {
  margin-top: 40px;
  font-family: "Raleway";
  padding: 10px;
  font-size: 18px;
  background: transparent;
  border: 1px solid rgb(58, 239, 252);
  color: rgb(58, 239, 252);
  outline: none;
  transition: all 0.5s ease;
  font-weight: bold;
  letter-spacing: 2px;
}
#contacto:hover {
  background: rgb(58, 239, 252);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
@keyframes bounceonappear {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-4px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-4px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.typing {
  position: relative;
}
.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  right: -4px;
  height: 90%;
  border-right: 2px solid white;
  animation: blink 0.8s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tag {
  position: absolute;
  font-family: "Tangerine", cursive;
  font-size: 25px;
  color: #515152;
  top: 2%;
  left: 7%;
}
#tag2 {
  top: 95% !important;
}
#tag3 {
  top: 90% !important;
  left: 10%;
}
.huno {
  font-family: "Tangerine", cursive;
  font-size: 25px;
  color: #515152;
  margin: 5px;
}
.loader {
  background: #181818;
  display: flexbox;
  z-index: 9;
  color: white;
  position: absolute;
  transition: all 2s ease;
  font-family: "Raleway";
  text-align: center;
  font-size: 40px;
  height: 100vh;
  width: 100%;

  animation: loader 3s;
  transform: translateX(0px);
  animation-fill-mode: forwards;

  align-content: center;
  justify-content: center;
  align-items: center;
}
.loader .loader-text {
  margin-top: 25%;
}
.bar-box {
  width: 70%;
  margin: auto;
  height: 20px;
}
.loader .bar {
  border: 2px solid rgb(58, 239, 252);
  width: 0%;
  margin: auto;
}
@keyframes loader {
  0% {
    transform: translateX(0px);
    transform: scale(1.6);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100%);
  }
}

.make_smaller {
  animation: smaller 1s;
}
@keyframes smaller {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0px);
  }
}
.form {
  width: 600px;
}
#name,
#email {
  border: none;
  float: left;
  padding: 10px;
  width: 46.5%;
  margin-top: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #2b2b2b;
  transition: border-bottom 0.75s ease;
}
#subject {
  width: 95%;
  padding: 10px;
  border-bottom: 2px solid #2b2b2b;
  transition: border-bottom 0.75s ease;
}
#subject:focus,
#email:focus,
#name:focus {
  border-bottom: 2px solid rgb(58, 239, 252);
}

#textarea {
  margin-top: 15px;
  border: none;
  background: #2b2b2b;
  font-family: "Oswald";
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2rem;
  width: 95.5%;
  padding: 10px;
  outline: none;
  color: #888888;
  resize: vertical;
  border-bottom: 2px solid #2b2b2b;
  transition: border-bottom 0.75s ease;
}
.form input {
  outline: none;
  font-size: 1.2rem;
  background: #2b2b2b;
  border: none;
  color: #888888;
  font-family: "Oswald";
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 2px solid #2b2b2b;
  transition: border-bottom 0.75s ease;
}
#textarea:focus {
  border-bottom: 2px solid rgb(58, 239, 252);
}
.form input:focus {
  border-bottom: 2px solid rgb(58, 239, 252);
}
#boton {
  margin-top: 20px;
  font-family: "Raleway";
  padding: 5px;
  font-size: 13px;
  border-radius: 2px;
  background: transparent;
  border: 1px solid rgb(58, 239, 252);
  color: rgb(58, 239, 252);
  outline: none;
  transition: all 0.5s ease;
  font-weight: bold;
  letter-spacing: 1px;
}
#boton:hover {
  background: rgb(58, 239, 252);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.contact .me .intro {
  color: rgb(58, 239, 252);
}
.contact .me {
  flex: 2;
}
.contact .image {
  flex: 2;
  height: 100vh;
  margin-right: 0px !important;
}

.abilities .me p {
  color: rgb(58, 239, 252);
}
.margin-top {
  margin-top: 20px;
}
.abilities .me {
  flex: 2;
}
.abilities .image {
  flex: 2;
  margin-right: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
.box {
  width: 100%;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: rgb(46, 46, 46);
  color: #181818;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.2rem;
}
.progress {
  width: 100%;
  background-color: #2b2b2b;
  border-radius: 10px;
  margin: 18px 0px;
  height: 28px;
}

.progress-bar {
  height: 100%;
  width: 0;
  border-radius: 10px;
  position: relative;
  transition: all 2s ease-out;
}
.html-color {
  background: linear-gradient(
    90deg,
    rgba(255, 188, 12, 1) 0%,
    rgba(244, 86, 0, 1) 100%
  );
}
.css-color {
  background: linear-gradient(
    90deg,
    rgba(12, 255, 241, 1) 0%,
    rgba(8, 0, 244, 1) 100%
  );
}
.js-color {
  background: linear-gradient(
    90deg,
    rgba(255, 227, 0, 1) 0%,
    rgba(244, 255, 0, 1) 100%
  );
}
.java-color {
  background: linear-gradient(
    90deg,
    rgba(255, 94, 0, 1) 0%,
    rgba(255, 0, 0, 0.9467496471244747) 100%
  );
}
.sql-color {
  background: linear-gradient(
    90deg,
    rgba(87, 167, 237, 1) 0%,
    rgba(83, 232, 156, 1) 100%
  );
}
.progress-bar span {
  position: absolute;
  top: 0%;
  right: 2%;
}
