* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "mifuente";
  src: url(../font/coolvetica\ rg.ttf);
}
ul {
  list-style: none;
}
body {
  background-color: #1d1d1d;
}
nav {
  background: #181818;
  width: 60px;
  min-height: 500px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav #nav1 li {
  line-height: 20px;
  font-size: 20px;
  padding: 10px;
  color: white;
  transition: all 0.5s ease;
  text-align: center;
}
nav #nav1 li:hover {
  color: rgb(58, 239, 252);
  cursor: pointer;
  display: hidden;
}
nav #nav1 li:hover .text {
  left: 0px;
  padding-bottom: 10px;
}

.text {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  transition: all 0.5s ease;
  text-align: center;
  position: relative;
  left: -200px;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.me {
  margin-left: 10%;
  flex: 3;
}
.image {
  flex: 2;
  margin-right: 10%;
}
#destacar {
  color: rgb(58, 174, 252);
  text-shadow: -5px -1px 0px rgb(255, 255, 255);
}
#texto {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: #888888;
}
.me p {
  color: white;
  font-family: "mifuente", sans-serif;
  font-size: 4rem;
  line-height: 80px;
  display: inline-block;
  letter-spacing: 5px;
  font-weight: bold;
}
.intro {
  transition: all 1s ease;
  display: inline-block;
}
.bounce {
  animation-name: bounce;
  animation-iteration-count: 3;
  animation-duration: 1s;
  cursor: pointer;
}
.intro:hover {
  color: rgb(58, 239, 252);
}
#text {
  display: inline-block;
}
#contacto {
  margin-top: 40px;
  font-family: "Raleway";
  padding: 10px;
  font-size: 18px;
  background: transparent;
  border: 1px solid rgb(58, 239, 252);
  color: rgb(58, 239, 252);
  outline: none;
  transition: all 0.5s ease;
  font-weight: bold;
  letter-spacing: 2px;
}
#contacto:hover {
  background: rgb(58, 239, 252);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.typing {
  position: relative;
}
.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  right: -4px;
  height: 90%;
  border-right: 2px solid white;
  animation: blink 0.8s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tag {
  position: absolute;
  font-family: "Tangerine", cursive;
  font-size: 25px;
  color: #515152;
  top: 2%;
  left: 7%;
}
#tag2 {
  top: 95% !important;
}
#tag3 {
  top: 90% !important;
  left: 10%;
}
.huno {
  font-family: "Tangerine", cursive;
  font-size: 25px;
  color: #515152;
  margin: 5px;
}
